.Header {
  font-family: var(--font-caveat-brush);
  height: 4rem;
  background-color: #00abe4;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-content: center;
  letter-spacing: 0.3rem;
  background-color: white;
  place-items: center;
  box-sizing: border-box;
  padding: 1rem 0.2rem;
  width: 100%;
  position: sticky;
  top: 0rem;
  border: 0;

  border-bottom: 2px solid #ff5757;
  z-index: 10; //works in increments of 5,
  // notebook lines < main content < rule-info , operator list, snackbar < header < version popup, quiz popup

  h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: rgb(36, 36, 36);

    letter-spacing: 0.2rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

    @media screen and (min-width: 450px) {
      font-size: 1.3rem;
      letter-spacing: 0.3rem;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
      letter-spacing: 0.3rem;
    }
  }

  p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }

  .home-link {
    text-decoration: none;
    width: 4rem;
    height: 2rem;
    box-sizing: border-box;
    border: 1px solid #494949;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);

    @media screen and (max-width: 500px) {
      width: 3rem;
      letter-spacing: 0.1rem;
    }

    &:hover {
      color: #f00;
    }
  }
}

.sticky {
  border: 0;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.33);
}
