.SL-input-form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  margin-top: 2.5rem;
  font-size: 1rem;
  color: #000;
  font-family: "Gochi Hand";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3rem;
  box-sizing: border-box;

  .form-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(2.5rem, 1fr));
    height: fit-content;
  }

  .input-container {
    display: flex;
    align-items: center;

    & > div {
      position: relative;
    }
  }

  .conc-container {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  label {
    padding: 0;
    padding-right: 0.5rem;
    width: 2rem;
    box-sizing: border-box;
  }

  .input {
    white-space: nowrap;
  }

  input {
    padding: 0px 15px 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2.5rem;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    color: #222;
  }

  svg {
    fill: red;
  }

  button:not(.submit-button) {
    background: transparent;
    color: #111;
    border: none;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  button.delete-premise {
    height: 2rem;
    color: #f00;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3rem;
    box-sizing: border-box;
    padding: 0;
  }

  .deduce-button-container {
    height: 5rem;
    padding-top: 0;
    display: flex;
    justify-content: center;
  }

  .plus-button-container {
    display: flex;
    justify-content: flex-end;
    height: 2.5rem;
  }

  button.plus-button {
    border-radius: 8px;

    &:hover {
      background-color: #dddddd;
    }
  }

  .form-label {
    font-size: 18px;
  }

  .conc-label {
    display: flex;
    align-items: center;
  }

  button.plus-button {
    width: fit-content;
    flex-shrink: 0;
    border: 1px solid #000;
    color: #f00;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.275rem;
    padding: 0.5rem;
    justify-content: flex-end;
  }

  & > div:last-child {
    display: grid;
    grid-template-rows: repeat(auto-fill, 2.5rem);
    height: fit-content;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
  }

  // @media (max-width: 500px) {
  //   margin-left: rem;
  // }
}

@media (min-width: 768px) {
  .SL-input-form {
    .plus-button-container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 380px) {
  .SL-input-form {
    input {
      padding: 0px 8px 0px 0px;
      font-size: 1.3rem;
    }

    .plus-button,
    .deduce-button {
      font-size: 1rem;
    }

    .plus-button-container {
      justify-content: center;
    }
  }
}
