.SL-input-form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 99;
  margin-top: 2.5rem;
  font-size: 1rem;
  margin-left: 5rem;
  color: #000;
  font-family: "Gochi-hand";

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3rem;

  .input-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, 2.5rem);
    height: fit-content;

    & > div {
      display: flex;
      align-items: center;

      & > div {
        position: relative;
      }
    }
  }

  .conc-container {
    position: relative;
    max-width: fit-content;
  }

  label {
    padding: 0;
    padding-right: 0.2rem;
    width: 2rem;
    box-sizing: border-box;
  }

  input {
    padding: 0px 8px 0px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2.5rem;
    width: max-content;
    margin: 0;
    box-sizing: border-box;
    margin-right: 10px;
    border: none;
    font-family: "Gochi-hand";

    background-color: transparent;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }

  svg {
    fill: red;
  }

  button {
    background: transparent;
    color: black;
    border: none;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .delete-premise {
    margin-left: 2rem;
    width: 2.5625rem;
    height: 2rem;
    color: #f00;
    font-family: "Gochi-hand";

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.44);
  }

  .deduce-button-container {
    height: 2rem;
    padding-top: 0;
  }

  .plus-button-container {
    display: flex;
    justify-content: center;
    height: 2.5rem;
  }

  .plus-button,
  .deduce-button {
    border-radius: 8px;

    &:hover {
      background-color: #00abe4;
    }
  }

  .form-label {
    font-size: 18px;
  }

  .conc-label > svg {
    height: 50px;
  }

  .conc-label {
    display: flex;
    align-items: center;
  }

  .plus-button {
    padding: 0;
    width: 11.70525rem;
    height: 2.3125rem;
    flex-shrink: 0;
    border: 1px solid #000;
    color: #f00;
    font-family: "Gochi-hand";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.275rem;
  }

  .deduce-button {
    height: 2.6875rem;
    border: 1px solid rgba(13, 66, 255, 0.59);
    color: #222;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.3rem;
  }

  & > div:last-child {
    display: grid;
    grid-template-rows: repeat(auto-fill, 2.5rem);
    height: fit-content;
  }
}
