.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.alert-popup {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  width: 18rem;
  font-size: 1.2rem;
  font-family: var(--font-gochi-hand);
  letter-spacing: 0.2rem;
  line-height: 1.47rem;

  h6 {
    font-size: 1.2rem;
    font-weight: normal;
  }

  p {
    text-align: left;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
  }

  svg {
    height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0rem;

    path {
      fill: blue;
    }
  }
}

.popup-content {
  text-align: center;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.popup-button {
  padding: 6px 16px;
  border: none;
  background-color: #ecc900;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.popup-button:hover {
  background-color: #cca300;
}

.popup-button span {
  font-size: 18px;
  line-height: 1;
}

.notification {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;

  button {
    margin: 0;
    font-size: 1rem;
    padding: 4px;
    background: transparent;
    border: none;
    color: white;
    font-family: var(--font-gochi-hand);
    letter-spacing: 0.1rem;
    cursor: pointer;
  }
}
