.report-arg-container {
  font-family: var(--font-gochi-hand);
  .report-arg-btn {
    background: transparent;
    min-height: 2.5rem;
    max-height: 2.5rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.1rem;
  }

  input,
  textarea,
  label {
    font-family: var(--font-gochi-hand);
  }

  textarea {
    width: 100%;
    font-size: 1.3rem;
  }

  .close {
    border: none;
    padding: none;
  }

  .error {
    color: red;
    margin-top: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    font-family: var(--font-gochi-hand);
    letter-spacing: 0.2rem;

    .submit-button-container {
      display: flex;
      align-self: flex-end;
    }

    button {
      cursor: pointer;
    }

    .button-container {
      display: flex;
      gap: 1rem;
      align-self: end;
    }

    .close-button {
      font-size: 0.9rem;
      color: #f00;
    }

    button {
      padding: 0.2rem;
      background: transparent;
      font-family: var(--font-gochi-hand);
      letter-spacing: 0.2rem;
    }
  }
}
