.Propositional-logic-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  background-color: #f5f5f5;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px;

    label {
      margin-right: 10px;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 50px;
      width: 500px;
      margin-right: 10px;
      font-size: 25px;
    }
  }

  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
      background-color: #45a049;
    }
  }
}

.deduction-steps {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    position: relative;

    & > div:last-child {
      position: absolute;
      background-color: rgb(218, 218, 218);
      bottom: 100%;
      font-size: 18px;
      left: 50%;
      color: black;
      padding: 25px;
    }
  }

  .step {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 10px;
    width: 800px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1.5fr 0.5fr 0.5fr;
    grid-auto-flow: column;
    t .obtained {
      font-weight: bold;
      font-size: 20px;
    }

    .rule {
      color: #302e2e;
      font-size: 20px;
    }

    .from {
      color: #302e2e;
      font-size: 20px;
    }
  }
}
