.Propositional-logic-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 25px;
  min-height: 100vh;
  padding: 50px;
  background-color: #f5f5f5;
  font-family: "Raleway";

  & > div:first-child {
    grid-column: 1/ 2;
    grid-row: 1;
  }

  & > div:last-child {
    grid-column: 2 /4;
    grid-row: 2;
  }

  .info-button {
    font-size: 22px;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    border: none;

    svg {
      fill: #00abe4;
    }
  }
}

.deduction-steps {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 30px;
    margin: 20px 0px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    position: relative;

    & > div:last-child {
      position: absolute;
      background-color: #8dd6ef;
      bottom: 100%;
      font-size: 18px;
      left: 50%;
      color: black;
      padding: 25px;
      border-radius: 10px;
    }
  }

  .step {
    padding: 8px 8px 8px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px;
    border-bottom: 2px solid #00abe4;
    margin-bottom: 10px;
    width: 850px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1.5fr 0.5fr 0.5fr;
    grid-auto-flow: column;

    .obtained {
      font-size: 20px;
    }

    .rule {
      color: #302e2e;
      font-size: 20px;
    }

    .from {
      color: #302e2e;
      font-size: 20px;
    }
  }

  .premise-index {
    font-size: 18px;
  }
}
