.operator-list {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: white;
  border: 2px solid #ac20d6;
  padding: 5px;
  margin-top: 3rem;
  margin-left: 1.8rem;
  z-index: 5;
  width: max-content;

  button:not(:last-child).operator-button {
    border-right: 1px dashed #333;
    padding: 2px 0.8rem;
  }

  button.operator-button {
    cursor: pointer;
    font-family: var(--font-gochi-hand);

    &:hover {
      background-color: #dbdbdb;
    }
  }
}

@media screen and (max-width: 768px) {
  .operator-list > button.operator-button:not(.submit-button) {
    font-size: 1.4rem;
  }
}
