.operator-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: 1px solid #222;
  top: 0;
  right: -1rem;
  z-index: 5;
  width: max-content;

  button:not(:last-child).operator-button {
    border-bottom: 1px dashed #333;
  }

  button.operator-button {
    width: fit-content;
    cursor: pointer;
    font-family: "Gochi Hand";

    &:hover {
      background-color: #dbdbdb;
    }
  }
}

@media screen and (max-width: 768px) {
  .operator-list > button.operator-button:not(.submit-button) {
    font-size: 1.3rem;
  }
}
