.Truth-table-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input[type="text"] {
      padding: 0.5rem;
      font-size: 1.2rem;
    }

    button {
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
    }
  }

  // table {
  //   border-collapse: collapse;
  //   width: 100%;
  //   margin-top: 1rem;

  //   th,
  //   td {
  //     padding: 0.5rem;
  //     font-size: 1.2rem;
  //     text-align: center;
  //     border: 1px solid #ccc;
  //   }

  //   th {
  //     background-color: #f2f2f2;
  //     font-weight: bold;
  //   }

  //   td {
  //     background-color: #fff;
  //   }
  // }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
  }
  table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  th {
    text-align: left;
  }

  thead {
    th {
      background-color: #55608f;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    td {
      position: relative;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          background-color: rgba(255, 255, 255, 0.2);
          z-index: -1;
        }
      }
    }
  }
}
