@import "../../styles/variables.scss";
.error-reports-page {
  .error-reports-container {
    @include header-and-lines-adjustment;
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: var(--font-gochi-hand);
    width: 80%;
    color: #222;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    margin-bottom: 2.5rem;

    .error-reports-item {
      margin: 2.5rem 0 5rem;
    }

    p {
      line-height: 2.5rem;
      margin-left: 2px;
    }

    h3 {
      line-height: 2.5rem;
      font-size: 1rem;
      color: #111;
      text-align: right;
    }

    .error-report-link {
      word-wrap: break-word;
      line-height: 2.5rem;
    }

    .reply {
      span {
        font-weight: 800;
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 0.2rem;
        text-decoration: double underline;
        line-height: 2.5rem;
      }
    }

    .report-issue {
      margin-top: 2.5rem;
      text-align: center;
    }
  }
}
