.Argument-input-form {
  width: 100%;
  font-family: "Gochi-hand";
  margin-top: 2.5rem;
  font-size: 1rem;
  display: flex;

  div {
    border: none;
  }

  form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  button {
    background: transparent;
    color: black;
    border: none;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  label {
    padding: 0;
    padding-right: 0.2rem;
    width: 2rem;
    box-sizing: border-box;
  }

  input {
    padding: 0px 8px 0px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2.5rem;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Gochi-hand";
    background-color: transparent;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
  }
}
