@import "./../../styles/variables.scss";
.Info-page {
  .info-container {
    @include header-and-lines-adjustment;

    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 2.5rem;
    font-family: var(--font-gochi-hand);
    width: 80%;
    color: #222;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    margin-bottom: 2.5rem;

    p,
    li {
      line-height: 2.5rem;
      margin-bottom: 2.5rem;
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }
}
