.Syllogistic-details {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: space-evenly;
  margin-top: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: var(--font-gochi-hand);

  p {
    height: 2.5rem;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    // margin-left: 2rem;
  }

  h6 {
    height: 2.5rem;
    font-size: 1.4rem;
    margin: 0;
  }

  h2 {
    height: 2.5rem;
    margin-bottom: 2.5rem;
    text-decoration: double underline;
  }

  & > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 5rem;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
    row-gap: 2.5rem;
    column-gap: 2rem;
    list-style: none;
  }

  @media screen and (max-width: 480px) {
    p {
      margin-left: 2rem;
    }
    & > ul {
      justify-items: flex-start;
    }
  }
}
