@media screen and (max-width: 380px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 601px) {
  body {
    font-size: 20px;
  }
}

.container {
  & > div {
    margin: auto;
    max-width: 1920px;
  }
}

* {
  margin: 0;
  padding: 0;
}
