@import "../styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

.Main-page {
  font-family: var(--font-gochi-hand), sans-serif;

  .main {
    display: grid;
    // min-height: 100vh;
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    margin-left: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: dense;
    gap: 5rem;
    justify-items: center;
    margin-top: 2.5rem;

    h1 {
      color: black;
      letter-spacing: 0.3rem;
      text-align: center;
    }

    // .button-container {
    //   gap: 10px;
    //   margin-top: 200px;
    //   grid-column: 2 / 3;
    //   display: grid;
    //   grid-template-columns: repeat(auto-fit, 450px);
    //   grid-gap: 120px;
    //   align-items: center;
    //   justify-content: center;

    .quantifiable-logic-link {
      background: #d4f0d8;
    }
    .propositional-logic-link {
      background: #ff7eb9;
    }

    .venn-diagram-link {
      background: #f3e779;
    }

    .truth-table-link {
      background: #7afcff;
    }

    .pl-tree-link {
      background: #a5ff87;
    }

    .pl-indirect-proof-link {
      background: #ffc36e;
    }
    .quiz-link {
      background: #f277f2fa;
    }

    a {
      width: 20rem;
      height: 18rem;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      text-decoration: none;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-family: var(--font-caveat-brush);
      font-size: 1.4rem;
      color: black;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding-bottom: 0.5rem;

      & > div:first-child {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 10px;

        height: 100%;
        width: 100%;
        svg {
          height: 12rem;
          max-width: 19rem;
          box-sizing: border-box;
        }

        .info {
          // position: absolute;
          // top: -80%;
          opacity: 1;
          background-color: #00abe485;
          color: black;
          font-size: 20px;
          width: inherit;
          transition: all 0.5s;
          border-radius: 8px;

          p {
            padding: 25px 29px;
            font-family: "Raleway";
            line-height: 30px;
          }
        }

        &:hover {
          //   animation: dropdown 0.6s ease-in-out forwards;

          //   @keyframes dropdown {
          //     0% {
          //       border: none;
          //     }

          //     25% {
          //       border: 1px dotted #00abe4;
          //     }

          //     50% {
          //       border: 2px dotted #00abe4;
          //     }

          //     100% {
          //       border: 2px solid #0282ad;
          //     }
          //   }

          .info {
            top: 0%;
            position: relative;
            opacity: 1;
          }
          // }
        }

        & > p {
          color: black;
          font-size: 24px;
          text-align: center;
          // border-bottom: 2px solid #00abe4;
          width: 350px;
          padding-top: 5px;
        }

        .line {
          width: 80%;
          border-bottom: 2px solid #00abe4;
        }
        &:hover .line {
          animation: lineMove 1.5s infinite linear;

          @keyframes lineMove {
            0% {
              width: 0%;
            }
            100% {
              width: 95%;
            }
          }
        }
      }
    }
    .quiz-link {
      height: 6rem;
      display: flex;
      justify-content: space-around;

      p {
        width: 18rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .Main-page {
    .aside-links-container {
      display: grid;
      grid-template-columns: 0.6fr 1fr;
      grid-template-rows: repeat(2, 1fr);

      & > div:nth-child(2) {
        grid-column: 1/3;
        grid-row: 2;

        a {
          align-items: end;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .Main-page {
    .main {
      margin-left: -12px;
    }
    .main a > div:first-child svg {
      height: 10rem;
    }
  }
}
