.Propositional-logic-body {
  display: grid;
  padding: 0px;
  font-family: "Raleway";

  // & > div:first-child {
  //   grid-column: 1/ 2;
  //   grid-row: 1;
  // }

  // & > div:last-child {
  //   grid-column: 2 /4;
  //   grid-row: 2;
  // }
}
