@import "../../styles/variables";

.SL-deduction-steps {
  position: relative;
  .rule-info {
    background-color: white;
    color: black;
    overflow-x: visible;
    border: 1px solid #222;

    font-family: "Gochi Hand";
    line-height: 1.5rem;
    min-width: 15rem;
    position: absolute;
    overflow-y: scroll;
    font-size: 1.2rem;
    padding: 1rem;
    z-index: 80;
    letter-spacing: 0.1rem;
    white-space: normal;
    transform: translate(-90%, 0%);
  }

  table {
    position: relative;
    z-index: 50;
    margin-top: 2.5rem;
    // display: grid;
    // grid-template-rows: repeat(auto-fill, 2.5rem);
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3rem;
    margin-bottom: 6.6rem;
  }

  th {
    font-size: 1.2rem;
  }

  tbody {
    td:not(:first-child):not(:nth-child(2)) {
      display: flex;
      align-items: center;
    }
  }

  tr {
    height: 100%;
    align-items: center;
  }

  td {
    display: flex;
    align-items: center;
    min-height: 2.5rem;
    overflow: auto;
    white-space: nowrap;
    color: #333;
  }

  tr {
    min-height: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fill, 2.5rem);
    margin-bottom: 2.5rem;
    overflow-x: auto;
    white-space: nowrap;

    span {
      font-size: 0.8rem;
      margin-left: 1.2rem;
    }

    & > td:first-child {
      font-size: 1.4rem;
      flex-direction: row;
      display: flex;
      align-items: center;
    }

    & > td:last-child {
      display: flex;
    }
  }

  .premise {
    white-space: nowrap;
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    display: none;
    /* Adjust the height as needed */
  }

  h2 {
    text-decoration: underline;
    margin-top: 2.5rem;
    font-family: "Gochi Hand";
    font-weight: 100;
    font-size: 2rem;
    color: #222;
    line-height: 2.5rem;
  }

  .from {
    min-width: 2rem;
  }

  .nowrap {
    width: inherit;
    overflow-x: scroll;
    font-size: 1.2rem;
    flex-direction: row;
    display: flex;
    white-space: nowrap;
  }

  .info-container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    height: min-content;
    gap: 0.5rem;
    height: 100%;
    display: flex;
  }

  .info-button {
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    cursor: pointer;
    border: 1px #222 black;
    padding: 0.2rem;
    border-radius: 2rem;
  }
}

.rule-container {
  position: relative;
}

.deduction-steps {
  display: grid;
  // grid-template-rows: repeat(auto-fill, 3.3rem);
  height: fit-content;
  font-family: "Gochi Hand";
  margin-right: 0.5rem;

  & > div {
    display: flex;
    align-items: center;
  }

  .premise-index {
    font-size: 0.9rem;
  }
}

@media (min-width: 900px) {
  .SL-deduction-steps {
    table {
      max-width: 100%;
      white-space: nowrap;
      overflow-x: auto;
      display: grid;
      grid-template-rows: repeat(auto-fill, 2.5rem);
    }

    th,
    td {
      white-space: nowrap;
    }
    tr {
      width: 100%;

      & > td:first-child {
        min-width: 25rem;
        white-space: nowrap;
        overflow-x: auto;
      }

      & > td:last-child {
        min-width: 15rem;
        white-space: nowrap;
        overflow-x: auto;
      }
    }

    th,
    tr {
      height: 2.5rem;
      display: grid;
      grid-template-columns: 3fr 1fr 2fr;
      align-items: center;
      white-space: nowrap;
      overflow-x: auto;
    }

    .premise {
      font-size: 1.2rem;
    }
  }
}
