.SL-deduction-steps {
  margin-top: 2.5rem;
  margin-left: 3rem;
  table {
    position: relative;
    z-index: 99;
    margin-top: 2.5rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, 2.5rem);
    width: 100%;
    max-width: 80rem;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3rem;
    margin-bottom: 6.6rem;
  }

  th {
    font-size: 1.2rem;
  }

  tbody {
    td:not(:first-child):not(:nth-child(2)) {
      display: flex;
      align-items: center;
    }
  }

  tr {
    align-items: center;
  }

  tr {
    min-height: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1rem));
    grid-template-rows: repeat(3, 2.5rem);
    margin-bottom: 2.5rem;

    span {
      font-size: 0.8rem;
      margin-left: 1.2rem;
    }

    div:first-child {
      font-size: 1.4rem;
      flex-direction: row;
    }
    div:last-child {
      display: flex;
    }
  }

  .premise {
    white-space: nowrap;
    overflow: auto;
  }

  h2 {
    text-decoration: underline;
    position: relative;
  }

  .info-container {
    position: relative;
  }

  .rule-container {
    display: flex;
    align-items: center;
    position: relative;
    height: min-content;
    gap: 0.5rem;
  }

  .info-button {
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    cursor: pointer;
    border: 1px #222 black;
    padding: 0.2rem;
    border-radius: 2rem;
  }
}

.deduction-steps {
  display: grid;
  grid-template-rows: repeat(auto-fill, 3.3rem);
  height: fit-content;
  font-family: "Gochi-hand";
  margin-right: 0.5rem;

  h2 {
    font-size: 30px;
    margin: 20px 0px;
  }

  & > div {
    display: flex;
    align-items: center;
    position: relative;
    & > div:last-child {
      position: absolute;
      // background-color: #8dd6ef;
      bottom: 100%;
      font-size: 1rem;
      left: 50%;
      color: black;
      padding: 25px;
      border-radius: 10px;
    }
  }

  .premise-index {
    font-size: 0.9rem;
  }

  .rule-info {
    position: absolute;
    background-color: black;
    color: white;

    font-family: "Gochi-hand";
    width: 15rem;
    right: 47%;
    top: 79%;
    font-size: 1rem;
    padding: 1rem;
    z-index: 55;
  }

  // @media (min-width: 800px) {
  //   margin-left: 6rem;
  // }
}

// @media (min-width: 800px) {
//   .SL-deduction-steps {
//     .deduction-steps {
//       margin-left: 6rem;
//     }
//   }
// }

// grid-template-columns: minmax(auto, 2fr) minmax(auto, 0.5fr) minmax(auto, 2fr);
