.SL-deduction-steps {
  table {
    position: relative;
    z-index: 99;
    margin-top: 2.5rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, 2.5rem);
    width: 80%;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3rem;
    margin-bottom: 6.6rem;
  }

  th {
    font-size: 1.2rem;
  }

  th,
  tr {
    height: 2.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 2fr 1fr 2fr 0.2fr;
    align-items: center;
  }

  h2 {
    text-decoration: underline;
    position: relative;
  }

  .info-button {
    width: 1rem;
    height: 1rem;
    background: transparent;
    cursor: pointer;
    border: none;

    svg {
      fill: #ef4444;
    }
  }
}

.deduction-steps {
  margin-left: 6rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, 3.3rem);
  height: fit-content;
  font-family: "Gochi-hand";

  h2 {
    font-size: 30px;
    margin: 20px 0px;
  }

  & > div {
    display: flex;
    align-items: center;
    // gap: 5px;
    position: relative;

    & > div:last-child {
      position: absolute;
      // background-color: #8dd6ef;
      bottom: 100%;
      font-size: 1rem;
      left: 50%;
      color: black;
      padding: 25px;
      border-radius: 10px;
    }
  }

  .step {
    min-height: 5rem; /* Set the minimum height to 2.5rem */
    // max-height: 7.5rem;
    padding: 8px 8px 8px 20px;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    // border-radius: 4px;
    // padding: 16px;
    // border-bottom: 2px solid #00abe4;
    // margin-bottom: 10px;
    display: grid;
    // grid-template-columns: 2fr 0.5fr 0.5fr;
    grid-auto-flow: column;

    .obtained {
      font-size: 1rem;
    }

    .rule {
      color: #302e2e;
      font-size: 1rem;
      min-width: 100%;
    }

    .from {
      color: #302e2e;
      font-size: 1rem;
    }
  }

  .premise-index {
    font-size: 0.9rem;
  }

  .info-container {
    position: relative;
  }

  .rule-info {
    position: absolute;
    background-color: black;
    color: white;
    font-family: "Raleway";
    width: 15rem;
    right: 47%;
    top: 79%;
    font-size: 1rem;
    padding: 1rem;
    z-index: 55;
  }
}
