.close-button {
  font-size: 0.9rem;
  color: #f00;
  background: transparent;
  border: none;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border: 1px solid #000;
  letter-spacing: 0.275rem;
  padding: 0.5rem;
  justify-content: flex-end;
}
