.Truth-table-body {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 2.5rem;

  margin-left: 4.5rem;
  font-family: inherit;

  .info-details-link {
    font-family: inherit, sans-serif;
    line-height: 2.5rem;
    text-align: end;
    padding-right: 2rem;
  }

  form {
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;

    .input-container {
      position: relative;
      height: 5rem;
      display: flex;
      flex-direction: column;
    }

    input[type="text"] {
      padding: 0px 25px 0px 10px;

      height: 2.5rem;
      background: transparent;

      border: 1px dashed black;
    }

    label {
      min-height: 2.5rem;
      font-size: 1.3rem;
      margin-right: 0.5rem;
      box-sizing: border-box;
    }

    button:not(.submit-button) {
      background: transparent;
      color: black;
      border: none;
      padding: 0.2rem 0.5rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.2rem;
      cursor: pointer;
      transition-duration: 0.4s;
    }
  }

  .table-container {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .table-overflow {
    overflow-x: auto;
  }

  table {
    border: 1px solid black;

    font-size: 1.4rem;
    margin-top: 2.5rem;
    border-collapse: collapse;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    min-width: 2.5rem;
    padding: 0rem 1rem 0rem 1rem;
    color: black;
    background: transparent;
    white-space: nowrap;
    text-align: center;
  }

  th {
    text-align: center;
  }

  tr {
    height: 2.5rem;
    padding-bottom: 2.5rem;
  }

  td {
    vertical-align: middle;
  }
}

@media screen and (max-width: 500px) {
  .Truth-table-body {
    form {
      input[type="text"] {
        margin-left: -20px;
      }
    }
    .table-container {
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-left: -1rem;
    }
  }
}
