.Truth-table-body {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 999;
  margin-left: 4.5rem;
  font-family: "Gochi-hand";

  form {
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .input-container {
      position: relative;
    }

    input[type="text"] {
      padding: 0rem 0.5rem;
      font-size: 1rem;
      height: 2.5rem;
      background: transparent;
      border: 1px dashed black;
    }

    label {
      height: 2.5rem;
    }

    button:not(.submit-button) {
      background: transparent;
      color: black;
      border: none;
      padding: 0.2rem 0.5rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.2rem;
      cursor: pointer;
      transition-duration: 0.4s;
    }

    .submit-button {
      margin-top: 2.5rem;
      background: transparent;
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    border: 1px solid black;

    font-size: 1.2rem;
    margin-top: 2.5rem;
    border-collapse: collapse;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    min-width: 2.5rem;
    padding: 0rem 1rem 2.5rem 1rem;
    color: black;
    background: transparent;
  }

  th {
    text-align: left;
  }
}
