.Truth-table-body {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 999;

  margin-left: 4.5rem;
  font-family: "Gochi Hand";

  form {
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;

    .input-container {
      position: relative;
      height: 5rem;
      display: flex;
      flex-direction: column;
    }

    input[type="text"] {
      padding: 0rem 0.5rem;
      font-size: 1.5rem;
      height: 2.5rem;
      background: transparent;
      font-family: inherit;

      border: 1px dashed black;
    }

    label {
      min-height: 2.5rem;
      font-size: 1.3rem;
      margin-right: 0.5rem;
      box-sizing: border-box;
    }

    button:not(.submit-button) {
      background: transparent;
      color: black;
      border: none;
      padding: 0.2rem 0.5rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.2rem;
      cursor: pointer;
      transition-duration: 0.4s;
    }

    .submit-button {
      margin-top: 2.5rem;
      background: transparent;
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }

  .table-container {
    display: flex;
    justify-content: center;
  }

  .table-overflow {
    overflow-x: auto;
  }

  table {
    border: 1px solid black;

    font-size: 1.4rem;
    margin-top: 2.5rem;
    border-collapse: collapse;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    min-width: 2.5rem;
    padding: 0rem 1rem 0rem 1rem;
    color: black;
    background: transparent;
    white-space: nowrap;
    text-align: center;
  }

  th {
    text-align: center;
  }

  tr {
    height: 2.5rem;
    padding-bottom: 2.5rem;
  }

  td {
    vertical-align: middle;
  }
}
