.Info-link {
  font-family: "Gochi hand", sans-serif;
  line-height: 2.5rem;
  text-align: end;
  padding-right: 2rem;
  position: relative;
  z-index: 50;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  width: 100%;
}
