@import "../../styles/variables";

.PL-tree-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 4rem;

  .tree-node-container {
    background-color: white;
    border: 1px solid black;
    position: relative;
    width: min-content;
    max-width: 85vw;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 2.5rem;
    font-size: 1.2rem;
    padding: 2rem 4rem;
    box-sizing: border-box;

    height: max-content;
    display: flex;
  }
  .invalid-desc {
    font-weight: 400;
    text-decoration: none;
    padding: 0.4rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }
}
